:root{
    --header-color: bisque;
    --text-color: rgb(51, 39, 26);
    --inactive-text-color: rgb(141, 123, 100);
    --active-link-color: rgb(104, 89, 69);
    --page-color: rgb(255, 246, 235);
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translate(0,50px);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}

body{
    margin: 0;
    overflow: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-color);
    width: 70%;
    margin: auto;
    background-image: linear-gradient(to bottom, var(--inactive-text-color), white 70%);
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    color: var(--inactive-text-color);
    font-weight: 600;
}

nav ul li a{
    text-decoration: none;
    color: var(--inactive-text-color);
    transition: all 300ms;
}

nav ul li a:hover{
    color: var(--text-color);
}

nav ul{
    padding: 0;
}

#activeLink{
    color: var(--active-link-color);
    text-decoration: underline;
}

main{
    background-color:  var(--page-color);
}

section{
    padding-left: 10px;
    animation: fadeIn 0.3s ease-out;
    background-color:  var(--page-color);
}

header{
    padding: 10px;
    padding-left: 20px;
    background-color: var(--header-color);
}

footer{
    opacity: 0.5;
    text-align: center;
    bottom: 10px;
    position: fixed;
    width: 70%;
}

footer p{
    padding: 0;
    margin: 0;
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
}

.flexbox img{
    width: 200px;
    padding: 20px;
    transition: all 200ms;
}

.flexbox img:hover{
    transform: translate(0px,-10px);
}
